aiofiles
aiohttp
aioshutil
anytree
apscheduler
aioaria2
aioqbt
imdbinfo
cloudscraper
ctranslate2==4.8.1
dnspython
fastapi
feedparser
google-api-python-client
google-auth-oauthlib
gunicorn
httpx
langcodes
language-data
jinja2
lxml
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pysubs2
wzgram==3.0.25
python-magic
pytz
qbittorrent-api
requests
sentencepiece
speedtest-cli
telegraph
tenacity
transformers<5
urllib3
uvicorn
uvloop
webvtt-py
xattr
yt-dlp[default,curl-cffi]==2026.7.4
